* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left {
    width: 20vw;
    height: 100vh;
    background-color: #3b3b3b;
}
.right {
    width: 80vw;
    height: 100vh;
    background-color: rgb(202, 148, 78);
}